/* COLOR DEF */
/* from google style http://www.google.com/design/spec/style/color.html#color-color-palette */
/* */
/* BACKGROUDNS */
/* MIXINS */
/* from http://alistapart.com/article/getting-started-with-sass */
/* CLASSES */
.left {
  float: left; }

.right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }
.clearfix {
  zoom: 1; }

.bg-1 {
  background-color: #009688; }

.bg-1 .centered {
  background-color: #004D40;
  color: white; }

.bg-1.not-working {
  background-color: #E91E63; }

.bg-1.not-working > * {
  background-color: #880E4F; }

.bg-1 .highlight {
  background-color: #1DE9B6;
  color: black; }

.stripe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: 2;
  background-color: rgba(0, 150, 136, 0.2);
  color: white;
  font-size: 70%; }

.container {
  width: 100%;
  height: auto;
  margin: 2% auto;
  font-size: .8em; }

.container > div {
  width: 75%;
  margin: auto; }

.block {
  margin: 2em auto 3em auto;
  min-height: 265px; }
  .block:before, .block:after {
    content: "";
    display: table; }
  .block:after {
    clear: both; }
  .block {
    zoom: 1; }
  .block pre {
    margin: 0; }

/* ELEMENTS */
body {
  background-color: #E3F2FD;
  padding: 0 2%; }

h2 {
  margin-top: 83px; }

section {
  margin-top: 5em; }

pre {
  padding: 1%; }

p > code {
  background-color: #BBDEFB;
  padding: 2px; }

a {
  color: #880E4F; }
  a:visited {
    color: #E91E63; }

/* using transform */
#using-transform .parent-element {
  height: 100vh;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#using-transform .centered {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Chrome, Safari, Opera */
  -moz-transform: translateY(-50%);
  /* Firefox */
  transform: translateY(-50%); }

#using-transform .parent-element.not-working {
  height: 75vh; }

#using-transform .parent-element.not-working.height-auto {
  margin-top: 9em;
  height: auto; }

#using-transform .parent-element.not-working.overflow {
  margin-top: 6em;
  height: 100px; }

#using-transform .parent-element.not-working.overflow .centered {
  height: auto; }

#using-transform .parent-element.not-working.overflow.scroll {
  overflow: scroll;
  margin-top: 3em; }

/* using absolute postion */
#using-absolute-position .parent-element {
  position: relative;
  height: 500px; }

#using-absolute-position .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 280px;
  width: 75%;
  margin-top: -140px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -37.5%;
  	/*position: absolute;
  	top: 50%;
      left: 50%;
      height: 280px;
      width: 75%;
      margin: -140px 0 0 -37.5%;*/ }

#using-absolute-position .parent-element.not-working {
  height: 75vh; }

#using-absolute-position .not-working .centered {
  height: 60%;
  margin: -20% 0 0 -37.5%; }

#using-absolute-position .parent-element.fix-units {
  height: 75vh; }

@media screen and (max-width: 30em) {
  body {
    padding: 1em; }

  .left,
  .right {
    float: none;
    margin: 5em auto; }

  .block {
    height: 100%; }

  a {
    display: inline-block;
    width: 18em;
    vertical-align: top; } }

/*# sourceMappingURL=style.css.map */
